<div id="addstaff" class="tabcontainer">

 <div class="stepstitle slide-up-slow">
    <span class="number boxsize bstaff"></span>
    <span class="name boxsize dis-inbl ">Add Staff
    <span class="caption dis-block">Fill your basic business details.  You can fill the advanced details in setup page later.</span></span>
  </div>
 <div class="setup-container boxsize slide-up" id="setup-container">
    <div class="tables no-border">
      <div class="tablecell">
         <span class="title-name dis-inbl mb10">  Staffs </span>
      </div>

    </div>
    <div class="table-container staff-container">
    <div class="tables border-light tablestyle boxsize ">

      <div class="tablecell fl">
        <span class="uploadimage dis-inbl fl">
           <img src="/images/uploadimage.png" alt=""/>
        </span>
        <span class="staffdetail dis-inbl fl">
            <span class="staffname font15">Sreedhar Ravikumar</span>
            <span class="jobdescription">sreedharravikumar@gmail.com</span>
            <span class="font12 red-col"> Owner</span>
         </span>
      </div>
      <div class="tablecell fr mt10 servicesDetail">
        <span class="staffdetail dis-inbl fl">
            <span class="servicetitle font11">Service(s) Assigned</span>
            <span class="staffservices font12">Hair cut , Beard styling</span>
         </span>
      </div>

    </div>
    <div class="tables border-light tablestyle boxsize no-top-bottom">

      <div class="tablecell fl">
        <span class="uploadimage dis-inbl fl">
           <img src="/images/uploadimage.png" alt=""/>
        </span>
        <span class="staffdetail dis-inbl fl">
            <span class="staffname font15">Suresh Babu N R</span>
            <span class="jobdescription">suresh@gmail.com</span>
            <span class="font12 red-col">Manager</span>
         </span>
      </div>
      <div class="tablecell fr mt10 servicesDetail">
        <span class="staffdetail dis-inbl fl">
            <span class="servicetitle font11">Service(s) Assigned</span>
            <span class="staffservices font12">Hair cut , Facial</span>
         </span>
      </div>

    </div>
 <div class="addnew-container mt20 pad-30">
   <div class=" mb20 mt20">
     <div class="">
       <span class="title-name">
            + New Staffs
       </span>
     </div>

   </div>
   <div class="staffscol no-border-bottom boxsize">
        <span class="labelname dis-inbl fl">
            <label>Staff Name</label>
        </span>
        <span class="inputbox dis-inbl fl">
              <!--		<input type="text" placeholder="" class="txt-input" id="SName"/>		-->
              <input type="text" placeholder="" class="txt-input" id="SName" value="Arun">
        </span>
     <div class="clearfix"></div>
   </div>
   <div class="staffscol no-border-bottom boxsize">
     <span class="labelname dis-inbl fl">
         <label>Role</label>
     </span>
     <div class="staff-role dis-inbl fl" id="sRoll">
           <input type="radio" name="optionsRadios" id="employee" value="employee">
           <label for="employee">Employee</label>
           <input type="radio" name="optionsRadios" id="admin" value="admin" checked="">
           <label for="admin">Manager</label>
           <input type="radio" name="optionsRadios" id="superadmin" value="superadmin">
           <label for="superadmin">Owner</label>
     </div>
<div class="clearfix"></div>
   </div>
   <div class="staffscol no-border-bottom boxsize">
     <span class="labelname dis-inbl fl">
         <label>Service assigned</label>
     </span>
     <div class="assigned-services dis-inbl">

       <label class="labels-container">
           <div aria-checked="true" class="checkbox isChecked" {{action "toggleCheckbox"}}>
             <div class="exportink"></div>
              <div class="exportinkinnerbox"></div>
               <div class="chkbox-inner">
                 <div class="chkboxmarker">
                    <div class="tickmark"></div>
                    <div class="ticklarge"></div>
                 </div>
               </div>
            </div>

            <div class="chkboxContent ml20">
              All
            </div>
         </label>
        <label class="labels-container">
           <div aria-checked="true" class="checkbox isChecked" {{action "toggleCheckbox"}}>
             <div class="exportink"></div>
              <div class="exportinkinnerbox"></div>
               <div class="chkbox-inner">
                 <div class="chkboxmarker">
                    <div class="tickmark"></div>
                    <div class="ticklarge"></div>
                 </div>
               </div>
            </div>
            <div class="chkboxContent ml20">
              Body massage
            </div>
         </label>
         <label class="labels-container">
           <div aria-checked="true" class="checkbox isChecked" {{action "toggleCheckbox"}}>
             <div class="exportink"></div>
              <div class="exportinkinnerbox"></div>
               <div class="chkbox-inner">
                 <div class="chkboxmarker">
                    <div class="tickmark"></div>
                    <div class="ticklarge"></div>
                 </div>
               </div>
            </div>
            <div class="chkboxContent ml20">
              Hair cut
            </div>
         </label>
         <label class="labels-container">
           <div aria-checked="true" class="checkbox isChecked" {{action "toggleCheckbox"}}>
             <div class="exportink"></div>
              <div class="exportinkinnerbox"></div>
               <div class="chkbox-inner">
                 <div class="chkboxmarker">
                    <div class="tickmark"></div>
                    <div class="ticklarge"></div>
                 </div>
               </div>
            </div>
            <div class="chkboxContent ml20">
              Manicure
            </div>
         </label>
     </div>
<div class="clearfix"></div>
   </div>
   <div class="staffscol no-border-bottom boxsize">
     <span class="labelname dis-inbl fl">
         <label>Email</label>
     </span>
     <span class="inputbox dis-inbl fl">
           <!--		<input type="text" placeholder="" id="SEmail" class="txt-input"/>		-->
           <input type="text" placeholder="" class="txt-input" value="aru3335@gmail.com" id="SEmail">
      </span>
      <div class="clearfix"></div>
   </div>
   <div class="staffscol no-border-bottom boxsize">
     <span class="labelname dis-inbl fl">
         <label></label>
     </span>
     <span class="inputbox dis-inbl fl">
       <div class="tab-row">
           <a href="javascript:void(0);" class="addService dis-inbl boxsize" {{action ""}}> Add Staff</a>
           <a href="javascript:void(0);" class="cancelService dis-inbl boxsize hide-imp"  {{action ""}}>Cancel</a>
       </div>
      </span>
      <div class="clearfix"></div>
   </div>
 </div>

    <div class="clearfix"></div>
 </div>
</div>
</div>

{{yield}}
